.app {
  display: flex;
}

.main {
  /* main will take 60% of the width */
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.map {
  /* the map will take the space remaining */
  flex-grow: 1;
  /* vh means viewport heigh, whole height of the window */
  height: 100vh;
  top: 0;
  /* will be able to scroll the flats */
  position: sticky;
  background-color: green;
}
