.app {
  /* use flexbox for app container */
  display: flex;
}

.main {
  /* main will take 60% of the width */
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.map {
  /* the map will take the space remaining */
  flex-grow: 1;
  /* vh means viewport heigh, whole height of the window */
  height: 100vh;
  top: 0;
  /* will be able to scroll the flats */
  position: sticky;
}

.flats {
  display: flex;
  /* should span on multiple rows */
  flex-wrap: wrap;
  /* start content at the top (i.e. if there's only 1 flat then put it
  at the top of the page and not in the middle) */
  align-content: flex-start;
}
